.vscode
*.pyc
*~
__pycache__
.DS_Store
/env
paytm_config.py
db.sqlite3
keyconfig.py
backend-static/
/backend-media/
backend-media/
*/config/
credentials.txt
googledrive.json
studyzone_googledrive.json
venv/
dump.sh
new_migrated.txt
runScriptandServer.sh
rpglights.py
Timetable/file.json
dump.rdb
library-backend-98fe8-firebase-adminsdk-35ke0-7b332e6c75.json
e*.xlsx
data.json
static/
node_modules
